.create {
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
    padding: 34px;
    font-family: Montserrat, sans-serif;
    background: darkgreen;
    color: white;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08); 
    }
